In [ ]:
teste = "INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,idLocation)VALUES(1,'Susan Catapano','ACL14TFECE46K31Q','xcmnkidkhage@outlook.com','+351 936876457','F',2,'2019-05-28 11:05:23','2020-09-04 09:15:05',0,3);"

x = teste.split(",")

print(x[len(x)-1])

In [ ]:
teste = "INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,idLocation)VALUES(1,'Susan Catapano','ACL14TFECE46K31Q','xcmnkidkhage@outlook.com','+351 936876457','F',2,'2019-05-28 11:05:23','2020-09-04 09:15:05',0,76);"

x = teste.split(",")

print(x[len(x)-1])

In [5]:
teste = "INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,idLocation)VALUES(1,'Susan Catapano','ACL14TFECE46K31Q','xcmnkidkhage@outlook.com','+351 936876457','F',2,'2019-05-28 11:05:23','2020-09-04 09:15:05',0,763);"

x = teste.split(",")

print(x[len(x)-1])

763);

In [3]:
from random import randint
import random

def create_povoamento():
    file = open("povoamento.sql", "r",encoding="utf-8")
    file2 = open("povoamento3.sql", "a")
    
   
    for row in file:
        x = row.split(",")
        if x[0] == "INSERT INTO User(idUser":
            
            string = row.replace(x[len(x)-1],str(randint(1,20)) + ");\n")
            file2.write(string)
        else:
            file2.write(row)
    
    file.close()
    file2.close()

In [4]:
create_povoamento()