In [ ]:
teste = "INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,idLocation)VALUES(1,'Susan Catapano','ACL14TFECE46K31Q','xcmnkidkhage@outlook.com','+351 936876457','F',2,'2019-05-28 11:05:23','2020-09-04 09:15:05',0,3);"

if teste[len(teste)-4] == ",":
    print(teste[:len(teste)-4] + ",NULL" +teste[len(teste)-4 :] )

In [ ]:
teste = "INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,idLocation)VALUES(1,'Susan Catapano','ACL14TFECE46K31Q','xcmnkidkhage@outlook.com','+351 936876457','F',2,'2019-05-28 11:05:23','2020-09-04 09:15:05',0,76);"

if teste[len(teste)-5] == ",":
    print(teste[:len(teste)-5] + ",NULL" +teste[len(teste)-5:])

In [ ]:
teste = "INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,idLocation)VALUES(1,'Susan Catapano','ACL14TFECE46K31Q','xcmnkidkhage@outlook.com','+351 936876457','F',2,'2019-05-28 11:05:23','2020-09-04 09:15:05',0,763);"

if teste[len(teste)-6] == ",":
    print(teste[:len(teste)-6] + ",NULL" +teste[len(teste)-6 :] )

In [9]:
from random import randint
import random

def create_povoamento():
    file = open("povoamento.sql", "r",encoding="latin-1")
    file2 = open("povoamento2.sql", "a")
    
    comeco = "INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,freeTrial,"
   
    for row in file:
        x = row.split(",")
        if x[0] == "INSERT INTO User(idUser":
            row = row.replace("INSERT INTO User(idUser,name,password,email,phoneNumber,sex,type,createdAt,lastActivity,active,",comeco)
            
            string = row.replace(x[len(x)-1],"NULL,"+x[len(x)-1])
            file2.write(string)
        else:
            file2.write(row)
    
    file.close()
    file2.close()

In [10]:
create_povoamento()